.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background-image: url('./commonImg/Pattern.png');
  background-size: cover;
  align-items: center;
  justify-content: center;
}

